.o
.a

mwrap
src/lex.yy.c
src/lex.yy.o
src/mwrap-ast.o
src/mwrap-cgen.o
src/mwrap-mgen.o
src/mwrap-support.h
src/mwrap-typecheck.o
src/mwrap.cc
src/mwrap.hh
src/mwrap.o
src/mwrap.output
src/stringify

testing/test_fortran1mex.cc
testing/test_fortran2mex.c
testing/test_include.m
testing/test_includemex.cc
testing/test_syntax.log

